<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/stylePP.css" />
    <title>Personal Site</title>

  </head>
  <body>
    <header>
      <div id="particles"></div>
      <div class="info-text">
        <h1>M.Ibraheem.H</h1>
        <h3>-programmer.. -WebDev. -AlgoTrader, -TA</h3>
        <a href="#about" class="scroll">
          <i class="bx bxs-down-arrow"></i>
        </a>
      </div>
    </header>

    <section id="about">
      <div class="header">
        <h1>It's Me</h1>
        <a id="lang" href="https://wa.me/919652033528" target="_blank">Contact Me</a>
      </div>

      <div class="card">
        <img src="./images/logo2.jpg" />
        <div class="info">
          <h1>Mohammed Ibraheem Hussain</h1>
          <p>Ambitious and creative graduate with a Bachelors of Technology
            in Computer Science.  Eager to gain further experience in the
            corporate sector through an engaging or full-time position.
            With technical ability to complete task effectively and
            perfectly, keen to apply existing knowledge and develop
            professionally.</p>
        </div>
      </div>
    </section>


    <section id="skills">  <!--section id="skills" -->
      <div class="header">
        <h1>Skills</h1>
        <!-- <a href=""> Email</a> -->
      </div>
      <div class="skill-cards">


        <div class="card" id="lang">
          <div class="info">
            <h1>English</h1>
            <p>Advanced</p>
          </div>
        </div>

        <div class="card" id="lang">
          <div class="info">
            <h1>Hindi</h1>
            <p>Native</p>
          </div>
        </div>

        <div class="card" id="lang">
          <div class="info">
            <h1>Urdu</h1>
            <p>Intermediate</p>
          </div>
        </div>

        <div class="card" id="lang">
          <div class="info">
            <h1>Arabic</h1>
            <p>Beginner</p>
          </div>
        </div>


        <div class="card">
          <div class="info">
            <h1>C</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>C++</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>Java</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>JavaScript</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>React</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>Node</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>Express</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>HTML</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>CSS</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>MySQL</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>Python</h1>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <h1>MQL</h1>
          </div>
        </div>


      </div>
    </section>  <!--section id="skills" -->


    <section id="academics">
      <div class="header">
        <h1>Academics</h1>
        <a href="mailto:ibbuhussain7@gmail.com"> Email</a>
      </div>
      <div class="academic-cards">
        <div class="card">
          <div class="info">
            <i class="bx bx-devices"></i>
            <h1>Bachelor's - 2021</h1>
            <p>
                  Bachelor's degree in Computer Science <br>
                Lords Institute of Engineering & Technology
                Survey No. 32, Himayathsagar, near Police Academy Junction, HYD,Telangana 500008
            </p>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <i class="bx bx-devices"></i>
            <h1>Senior High School - 2017</h1>
            <p>
                Radhwa International School
                Yanbu Al Sinaiyah<br>Zip Code: 46477. Kingdom of Saudi Arabia
            </p>
          </div>
        </div>

        <div class="card">
          <div class="info">
            <i class="bx bx-devices"></i>
            <h1>High School - 2015</h1>
            <p>
                AL Manar International School
                Yanbu Al Bahr Zip Code: 46429. Kingdom of Saudi Arabia
            </p>
          </div>
        </div>
      </div>

    </section> <!--section id="academics "END -->


    <section id="academics">
      <div class="header">
        <h1>Certificates</h1>
        <a href="https://onedrive.live.com/?authkey=%21AMnbv0nw40winLQ&id=A5BA9F16682B5DE6%213225&cid=A5BA9F16682B5DE6" target="_blank"> Click Here to View All</a>
      </div>
      <li>National Genius Search Foundation [Mains] > 90%</li>
      <li>UDEMY Certificates</li>
      <li>Open Competitions and Quizzes</li>
      <li>School Certificates & Olympiads</li>
    </section>

    <section id="private">

        <div class="private-cards">
          <div class="card">
            <div class="info">
              <h1>Welcome Ibbuhussain, <br> Please Authenticate</h1>


              <!-- <h2 id="myH2"><%# typeof error !== 'undefined' ? error : '' %></h2> -->
              <%if(locals.error) { %>
                <h2 id="myH2"><%=error%></h2>
                <% }%>



              <form action="/login" method="POST" id="login-form"> <!-- will not load if this is not comment security reason local files not allowed -->
                <!--<div id="login-form">    -->
                    <input type="text" id="username" name="full_name" required placeholder="username"/><br /><br />
                    <input type="password" id="password" name="password" required placeholder="pasword"/><br /><br />
                    <button id="login-button"> Log In </button>
                    <button id="signUp-button" >Sign Up </button>
                <!--</div>-->
                 </form> 

            </div>
          </div>
        </div>

    </section>

    <button class="scroll-top" onclick="scrollToTop()">
      <i class="bx bxs-up-arrow"></i>
    </button>

    <button class="scroll-down" onclick="scrollToDown()">
      Sign In
      <!-- <i class='bx bxs-down-arrow'></i> -->
    </button>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="./jsLogic/portfolio.js"></script>
    <script src="./jsLogic/login.js"></script>


  </body>
</html>
