/* Style for the login page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    margin-bottom: 35px;
}
h5{
    text-align: center;
    margin: 20px 0;
    color: #c81818;
    margin-bottom: 10px;
}

#login-form {
    margin-top: 35px;
    background-color: #fff;
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}
#login-form:hover {
    box-shadow: none;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    display: inline-block; 
    margin: 0 auto; 
}

#signUp-button{
    background-color: #d62c1a;
}
#signUp-button:hover{
    background-color: #932013;
}


button:hover {
    background-color: #0056b3;
}

#user-info {
    text-align: center;
}

#logout-button {
    background-color: #ff6347;
    color: #fff;
    display: block;
    margin: 10px auto;
}

#logout-button:hover {
    background-color: #d62c1a;
}
